@import url(./__content/popup__content.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__input/popup__input.css);
@import url(./__button/popup__button.css);
@import url(./_is-opened/popup_is-opened.css);
@import url(./__edit-button/edit-button.css);
@import url(./__button_disabled/button_disabled.css);
@import url(./popup-view/popup-view.css);
@import url(./__image/popup__image.css);


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
